html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
  padding-top: 30px;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
}

input[type='submit'] {
  -webkit-appearance: none;
  border: none;
  background: transparent;
}

label {
  font-weight: bold;
}

.resize {
  font-size: 10vw;
}

.logo {
  font-family: 'Chelsea Market', cursive;
  color: white;
}

.shadow {
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  text-shadow: 1px 1px 1px #000;
}

.homebg {
  background: url('/media/landing.jpg') center center fixed no-repeat;
  background-size: cover;
}

.defaultbg {
  background: url('/media/background.jpg') center center fixed no-repeat;
  background-size: cover;
}

.textoverlaycontainer {
  position: relative;
  text-align: center;
  color: white;
}

.textoverlaycenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
